absl-py==2.
annotated-types==0.
asttokens==2.
black==24.
blis==1.
catalogue==2.
certifi==2024.
charset-normalizer==3.
click==8.
cloudpathlib==0.
colorama==0.
confection==0.
contourpy==1.
cycler==0.
cymem==2.
decorator==5.
emoji==2.
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#
exceptiongroup==1.
executing==2.
fasttext-wheel==0.
filelock==3.
fonttools==4.
fsspec==2024.
grpcio==1.
idna==
ipython==8.
jedi==0.
Jinja2==3.
joblib==1.
kiwisolver==1.
langcodes==3.
language_data==1.
marisa-trie==1.
Markdown==
markdown-it-py==3.
MarkupSafe==2.
matplotlib==3.
matplotlib-inline==0.
mdurl==0.
mpmath==1.
murmurhash==1.
mypy-extensions==1.
networkx==3.
nltk==3.
numpy==2.
packaging==
pandas==2.
parso==0.
pathspec==0.
pillow==10.
platformdirs==4.
preshed==3.
prompt_toolkit==3.
protobuf==5.
pure_eval==0.
pybind11==2.
pydantic==2.
pydantic_core==2.
Pygments==2.
pyparsing==3.
python-dateutil==2.9.
pytz==
regex==2024.
requests==2.
rich==13.
scikit-learn==1.
scipy==1.
seaborn==0.
shellingham==1.
six==1.
smart-open==7.
spacy==3.
spacy-legacy==3.
spacy-loggers==1.
srsly==2.
stack-data==0.
sympy==
tensorboard==2.
tensorboard-data-server==0.
thinc==8.
threadpoolctl==3.
tomli==2.
tqdm==4.
traitlets==5.
typer==0.
typing_extensions==4.
tzdata==
urllib3==2.
wasabi==1.
wcwidth==0.
weasel==0.
Werkzeug==3.
wrapt==1.
